{% extends 'base.html' %}

{% block conteudo %}
<article>
  <h1>DIESEL S10</h1>
  <hr>
  <div>
    <table class="table">
      <tr>
        <td>
          <p><b>POSTO</b></p>
        </td>
        <td>
          <p><b>ENDEREÇO</b></p>
        </td>
        <p><b>DIESEL S10</b></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Posto Alvorada </p>
        </td>
        <td>
          <p>Av. Jones Santos Neves, 237 – Santo Antônio</p>
        </td>
        <td>
          <p>6,89 </p>
        </td>
      </tr>
    </table>
  </div>
</article>
  {% endblock %}